@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variables */
:root {
  --grey51: rgba(51, 51, 51, 1);
  --grey77: rgba(77, 77, 77, 1);
  --grey198: rgba(198, 198, 198, 1);
  --white: rgba(255, 255, 255, 1);
  --red: rgba(255, 0, 0, 1);
  --green: rgba(0, 255, 0, 1);
  --orange: rgba(245, 170, 59, 1);

  --font-base: 10px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Titillium Web', sans-serif;
  font-size: var(--font-base);
}


/*  Header  */
.site-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  background-color: var(--grey51);
}

.site-header__logo {
  height: 4.8rem;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav__link {
  display: block;
  padding: 0 2rem;
  height: 5rem;
  font-size: 2rem;
  line-height: 5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
}

.nav__link:hover {
  color: var(--orange);
}


/* Footer */
.site-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 0;
  background-color: var(--grey77);
  color: white;
  font-size: 1.7rem;
}

.footer__adress,
.footer__about,
.footer__nav,
.footer__subscribe {
  padding: 0 1.5rem;
  min-width: 20%;
}

.footer__nav {
  min-width: 10%;
}

.footer__title {
  font-weight: 700;
  padding-bottom: .5rem;
  color: var(--orange);
}

.footer__link {
  text-decoration: none;
  color: var(--white);
}

.footer__link:hover {
  color: var(--orange);
}

.footer__input {
  display: block;
  width: 80%;
  height: 3rem;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--grey198);
  color: var(--grey77);
  font-size: 1.5rem;
  padding: .75rem 1.2rem .75rem;
}

.footer__input:focus {
  outline: none;
  background-color: var(--white);
}



/* Additional text classes */
.txt-l {
  text-align: left;
}
.txt-c {
  text-align: center;
}
.txt-r {
  text-align: right;
}
.txt-light {
  color: var(--grey198);
}
.txt-dark {
  color: var(--grey51);
}
.txt-orange {
  color: var(--orange);
}
.txt-newline::after {
  content: '\A';
  white-space: pre;
}

.heading {
  font-size: 14rem;
  line-height: 9rem;
  width: 70%;
  text-transform: uppercase;
}
.heading-small {
  font-size: 7rem;
}
.section-txt {
  font-size: 2rem;
  padding: 2rem 0;
  width: 30%;
}

/* Buttons */
.btn {
  display: block;
  width: 16rem;
  height: 4rem;
  text-transform: uppercase;
  border: none;
  border-radius: 2rem;
  background-color: var(--orange);
  color: var(--grey77);
  font-size: 2rem;
}




/* Section we love */
.welove {
  background: url(/images/welove.jpg) center/cover no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  margin-top: 0;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

}




/* Section food  */
.food {
  background: url(/images/white-dog.jpg) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  padding-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Section adopt */
.adopt {
  background: var(--grey51);
  background-attachment: fixed;
  width: 100%;
  padding: 7% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adopt .heading {
  font-size: 12rem;
  width: 100%;
}

.adopt .section-txt {
  width: 60%;
}

.adopt__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 2rem 0;
}

.list__box {
  width: 20rem;
}

.list__box:hover .list__image {
  transform: scale(1.1);
}

.list__image-overflow {
  border: none;
  border-radius: 3rem 0 3rem 0;
  overflow: hidden;
}

.list__image {
  display: block;
  width: 100%;
  transition: all .33s ease-in-out;
}

.list__dog-name {
  font-size: 4rem;
  font-weight: 700;
  color: var(--orange);
  padding-top: .5rem;
}

.list__dog-breed {
  font-size: 1.5rem;
  color: var(--grey198);
}